# History files
.Rhistory
.Rapp.history
*.docx
# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/*
documents/**/*_cache/*
/cache/
results/
*_files/
*latex/
*SBCMBON_*
# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
*.pdf
*.Rproj
data/pisco-data.Rdata
*.docx#

documents/~\\$.*
presentations/
documents/pnas-resubmission
documents/ovando-et-al-pop-effects-of-mpas-si.pdf


/.Rprofile
*.so
*.o
*.tex
*.png